
<% content_for :local_js do %>
// initialize popover helpers
$("a[rel=popover]").popover({ html: true });
<% end %>

<h1>Edit Profile</h1>
<div class="span45 well">
  <%= form_for @user, :url => sufia.profile_path(@user.to_param), :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :avatar, '<i class="icon-camera-retro"></i> Change picture'.html_safe, :class => "control-label" %>
      <div class="controls">
        <%= image_tag @user.avatar.url(:thumb) if @user.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <span class="label label-important">JPG, GIF, or PNG (less than 2MB)</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :delete_avatar, '<i class="icon-remove"></i> Delete picture'.html_safe, :class => 'control-label' %>
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :remove_avatar %> Yes
          <a href="#" id="delete_picture_help" rel="popover" data-content="If you would like to remove your picture entirely, check the box and save your profile." data-original-title="Delete Picture"><i class="icon-question-sign icon-large"></i></a>
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :twitter_handle, '<i class="icon-twitter"></i> Twitter Handle'.html_safe, :class => 'control-label' %>
      <div class="controls">
         <%= f.text_field :twitter_handle, :class =>"input-medium" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :facebook_handle, '<i class="icon-facebook"></i> Facebook Handle'.html_safe, :class => 'control-label' %>
      <div class="controls">
         <%= f.text_field :facebook_handle, :class =>"input-medium" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :googleplus_handle, '<i class="icon-google-plus"></i> Google+ Handle'.html_safe, :class => 'control-label' %>
      <div class="controls">
         <%= f.text_field :googleplus_handle, :class =>"input-medium" %>
      </div>
    </div>

    <%= render :partial => 'trophy_edit', :locals => {:trophies => @trophies} %>

    <div class="form-actions">
      <%= f.button '<i class="icon-save"></i> Save Profile'.html_safe, :type => 'submit', :class => "btn-primary btn-large" %>
    </div>
  <% end %>

  <div class="well proxy-rights">
    <%= render partial: 'proxy_rights' %>
  </div><!-- /well-->
</div><!-- /span -->
